// Styling for the team section
.team-member {
  margin-bottom: 50px;
  text-align: center;
  
  a.portfolio-link {
    color: transparent;
  }
  
  img {
    width: 225px;
    height: 225px;
    border-style: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: transparent !important;
  }

  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
